<section class="wrapper">
  <div class="inner">
    <header class="special">
      <h2>La Hype</h2>
      <p>Lorem ipsum lol</p>

        <%=image_tag("snoop.gif") %>


    </header>
  </div>
</section>
