<footer id="footer">
  <h2>Contact</h2>
      <section>
        <ul class="plain">
          <li><a href="https://twitter.com/the_hacking_pro"><i class="icon fa-twitter">&nbsp;</i>Twitter</a></li>
          <li><a href="https://www.facebook.com/thehackingproject/"><i class="icon fa-facebook">&nbsp;</i>Facebook</a></li>
          <li><a href="https://www.instagram.com/stationw_/"><i class="icon fa-instagram">&nbsp;</i>Instagram</a></li>
          <li><a href="https://github.com/felhix"><i class="icon fa-github">&nbsp;</i>Github</a></li>
        </ul>
      </section>

    <div class="copyright">
      <p style="color: #fff">&copy; 2018, Made with ❤️ in France.</p>
    </div>

</footer>
