<section id="cta" class="wrapper">
  <div class="inner">
    <h2>Infos pratiques</h2>
    <p>The Hacking Project vous enmenne vers les nouvelles technologies
    Tout le monde n'a pas accès à une formation en informatique ou aux fonds nécessaires pour fréquenter une école de codage intensive, et aucun d'entre eux n'est bon pour tout le monde. Ce projet est conçu pour combler le vide pour les personnes qui tentent de le pirater par leurs propres moyens tout en souhaitant une éducation de qualité.</p>
    <h2>Qu'est-ce que le peer-learning ?</h2>
    <p>Selon les psychologues Angela M. O'Donnell et Alison King, “le peer learning est un outil éducationnel dans lequel les étudiants interagissent entre eux afin d’atteindre leurs objectifs pédagogiques”.</p>
  </div>
</section>
